<template>
  <div style="padding-bottom: 5em">
    <el-row>
      <h2 style="text-align: left; margin-bottom: 2em">Captura SAYCOP</h2>
    </el-row>
    <el-row>
      <el-collapse>
        <el-collapse-item title="Consultas SIAPSEP">
          <Consultas />
        </el-collapse-item>
      </el-collapse>
    </el-row>
    <el-row style="margin-top: 2em; text-align: left">
      <el-button
        v-if="PlazaIdSeleccionado != null"
        @click="agregaRegistro()"
        type="primary"
        icon="el-icon-plus"
        >Agregar a calculo</el-button
      >
      <el-alert
        v-else
        title="Debe seleccionar el empleado y plaza de las consultas"
        type="warning"
        show-icon
      >
      </el-alert>
    </el-row>
    <el-row>
      <h2 style="text-align: left; margin-bottom: 2em">Calculo SAYCOP</h2>
      <el-card>
        <el-row style="margin-top: 3em">
          <DataTable
            class="p-datatable-sm letra"
            :value="dtCabezal"
            :scrollable="true"
            editMode="cell"
          >
            <template #header>
              <div class="table-header">PARAMETROS</div>
            </template>
            <template #empty>
              <div style="text-aling: center">
                <el-alert
                  title="Debe seleccionar el empleado y plaza de las consultas"
                  type="warning"
                  show-icon
                >
                </el-alert>
              </div>
            </template>
            <Column field="rfc" header="RFC" headerStyle="width: 140px">
              <template #editor="slotProps">
                <InputText
                  style="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="curp"
              header="CURP"
              headerStyle="width: 200px"
            ></Column>
            <Column
              field="nom_emp"
              header="NOMBRE COMPLETO"
              headerStyle="width: 200px"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 200px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="plaza"
              header="CLAVE_PRESUPUESTAL"
              headerStyle="width: 250px"
            ></Column>
            <Column field="CT" header="CT" headerStyle="width: 200px">
              <template #editor="slotProps">
                <el-select
                  style="width: 190px"
                  v-model="slotProps.data[slotProps.column.field]"
                  placeholder="CT"
                  @change="x => setUD(x)"
                >
                  <el-option
                    v-for="item in CTs"
                    :key="item.cct"
                    :label="`${item.cct} (${item.QnaIni}-${item.QnaFin})`"
                    :value="item.cct"
                  >
                  </el-option>
                </el-select>
              </template>
            </Column>
            <Column
              field="unidad_dist_cheque"
              header="UD"
              headerStyle="width: 50PX"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 50px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column field="qna_ini" header="QNA_INI" headerStyle="width: 100px">
              <template #editor="slotProps">
                <InputNumber
                  inputStyle="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column field="qna_fin" header="QNA_FIN" headerStyle="width: 100px">
              <template #editor="slotProps">
                <InputNumber
                  inputStyle="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="qna_pago"
              header="QNA_PAGO"
              headerStyle="width: 100px"
            >
              <template #editor="slotProps">
                <InputNumber
                  inputStyle="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="qna_proc"
              header="QNA_PROC"
              headerStyle="width: 100px"
            >
              <template #editor="slotProps">
                <InputNumber
                  inputStyle="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="niv_puesto"
              header="NIV_PUESTO"
              headerStyle="width: 130px"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="nivel_sueldo"
              header="NIVEL_SUELDO"
              headerStyle="width: 130px"
            >
              <template #editor="slotProps">
                <InputNumber
                  inputStyle="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column field="mot_mov" header="MOT_MOV" headerStyle="width: 100px">
              <template #editor="slotProps">
                <InputNumber
                  inputStyle="width: 100px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="NoDocto"
              header="NO_DOCTO"
              headerStyle="width: 200px"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 190px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="NoRelacion"
              header="NO_RELACION"
              headerStyle="width: 200px"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 190px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="MotivoPago"
              header="MOTIVO_PAGO"
              headerStyle="width: 200px"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 190px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column field="Elaboro" header="ELABORO" headerStyle="width: 200px">
              <template #editor="slotProps">
                <InputText
                  style="width: 190px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column
              field="Autorizo"
              header="AUTORIZO"
              headerStyle="width: 200px"
            >
              <template #editor="slotProps">
                <InputText
                  style="width: 190px"
                  v-model="slotProps.data[slotProps.column.field]"
                />
              </template>
            </Column>
            <Column headerStyle="width: 50px">
              <template #editor="slotProps">
                <el-button
                  type="success"
                  icon="el-icon-plus"
                  @click="registraListado(slotProps.data)"
                  >Agregar a calculo</el-button
                >
              </template>
            </Column>
          </DataTable>
        </el-row>
        <el-row style="margin-top: 4em">
          <el-col>
            <DataTable
              class="p-datatable-sm letra"
              :value="dtCabezal"
              :scrollable="true"
              editMode="cell"
              style="font-size: 14px"
            >
              <template #header>
                <div class="table-header">INFORMACIÓN CALCULO</div>
              </template>
              <Column
                field="tot_perc_cheque"
                header="TOTAL PERCEPCIONES"
                headerStyle="width: 150px"
              >
                <template #editor="slotProps">
                  <InputText
                    style="width: 150px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column
                field="tot_ded_cheque"
                header="TOTAL DEDUCCIONES"
                headerStyle="width: 150px"
              >
                <template #editor="slotProps">
                  <InputText
                    style="width: 150px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column
                field="tot_neto_cheque"
                header="TOTAL NETO"
                headerStyle="width: 150px"
              >
                <template #editor="slotProps">
                  <InputText
                    style="width: 150px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
            </DataTable>
          </el-col>
        </el-row>
        <el-row style="margin-top: 2em" :gutter="50">
          <el-col :span="24" style="text-align: left">
            <el-button
              type="success"
              icon="el-icon-plus"
              @click="dialogAgregaCpto = true"
              >Agregar cpto</el-button
            >
            <el-button
              type="success"
              plain
              icon="el-icon-refresh"
              circle
              @click="ActualizaCabezal()"
            ></el-button>
          </el-col>
          <el-col :span="12" style="margin-top: 1em">
            <DataTable
              class="p-datatable-sm letra"
              :value="dtPercepciones"
              :scrollable="true"
              editMode="cell"
              style="font-size: 14px"
            >
              <template #header>
                <h3>Percepciones</h3>
              </template>
              <Column field="perc_ded" header="PERC/DED"></Column>
              <Column field="concepto" header="CONCEPTO">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column field="qna_ini" header="QNA_INI">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column field="qna_fin" header="QNA_FIN">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column field="importe" header="IMPORTE">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
            </DataTable>
          </el-col>
          <el-col :span="12">
            <DataTable
              class="p-datatable-sm letra"
              :value="dtDeducciones"
              :scrollable="true"
              editMode="cell"
              style="font-size: 14px"
            >
              <template #header>
                <h3>Deducciones</h3>
              </template>
              <Column field="perc_ded" header="PERC/DED"></Column>
              <Column field="concepto" header="CONCEPTO">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column field="qna_ini" header="QNA_INI">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column field="qna_fin" header="QNA_FIN">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
              <Column field="importe" header="IMPORTE">
                <template #editor="slotProps">
                  <InputText
                    style="width: 90px"
                    v-model="slotProps.data[slotProps.column.field]"
                  />
                </template>
              </Column>
            </DataTable>
          </el-col>
          <el-col style="text-align: left; margin-top: 1em">
            <el-button
              type="success"
              icon="el-icon-check"
              @click="CrearFormatoCheque()"
              plain
              >Crea cheque</el-button
            >
          </el-col>
        </el-row>
      </el-card>
    </el-row>
    <el-row style="margin-top: 2em">
      <el-card>
        <textarea
          v-model="cheque_siapsep"
          style="width: 100%; height: 10em"
          wrap="off"
          readonly
        >
        </textarea>
      </el-card>
    </el-row>
    <el-dialog title="Selecciona concepto" :visible.sync="dialogAgregaCpto">
      <el-select
        v-model="ConceptoSeleccionado"
        placeholder="Seleccione concepto"
        style="width: 100%"
        filterable
      >
        <el-option-group
          v-for="group in listaCptos"
          :key="group.label"
          :label="group.label"
        >
          <el-option
            v-for="item in group.cptos"
            :key="item.ConceptoId"
            :label="`${item.Clave}-${item.Descripcion}`"
            :value="`${item.PercDed}|${item.Clave}`"
          >
          </el-option>
        </el-option-group>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogAgregaCpto = false" plain>Cancelar</el-button>
        <el-button type="success" @click="agregaCpto()">Agregar</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Consultas from "./Consultas";
import helpers from "../helpers.js";
import api from "../api";

export default {
  data() {
    return {
      dtCabezal: [],
      dtPercepciones: [],
      dtDeducciones: [],
      dialogAgregaCpto: false,
      listaCptos: [],
      ConceptoSeleccionado: null,
      cheque_siapsep:
        "u_version|num_cons|tipo_nomina|centro_computo|unidad_dist_cheque|cons_qna_proc|rfc|nom_emp|ent_fed|ct_clasif|ct_id|ct_secuencial|ct_digito_ver|cod_pago|unidad|subunidad|cat_puesto|horas|cons_plaza|niv_puesto|nivel_sueldo|grupo_nomina|tipo_pago|mot_mov|tipo_calculo|qna_ini|qna_fin|qna_pago|qna_proc|num_cheque|cheque_dv|tot_perc_cheque|tot_ded_cheque|tot_neto_cheque|num_perc|num_desc|perc_ded01|concepto01|importe01|qna_ini_01|qna_fin_01|perc_ded02|concepto02|importe02|qna_ini_02|qna_fin_02|perc_ded03|concepto03|importe03|qna_ini_03|qna_fin_03|perc_ded04|concepto04|importe04|qna_ini_04|qna_fin_04|perc_ded05|concepto05|importe05|qna_ini_05|qna_fin_05|perc_ded06|concepto06|importe06|qna_ini_06|qna_fin_06|perc_ded07|concepto07|importe07|qna_ini_07|qna_fin_07|perc_ded08|concepto08|importe08|qna_ini_08|qna_fin_08|perc_ded09|concepto09|importe09|qna_ini_09|qna_fin_09|perc_ded10|concepto10|importe10|qna_ini_10|qna_fin_10|perc_ded11|concepto11|importe11|qna_ini_11|qna_fin_11|perc_ded12|concepto12|importe12|qna_ini_12|qna_fin_12|perc_ded13|concepto13|importe13|qna_ini_13|qna_fin_13|perc_ded14|concepto14|importe14|qna_ini_14|qna_fin_14|perc_ded15|concepto15|importe15|qna_ini_15|qna_fin_15|perc_ded16|concepto16|importe16|qna_ini_16|qna_fin_16|perc_ded17|concepto17|importe17|qna_ini_17|qna_fin_17|perc_ded18|concepto18|importe18|qna_ini_18|qna_fin_18|perc_ded19|concepto19|importe19|qna_ini_19|qna_fin_19|perc_ded20|concepto20|importe20|qna_ini_20|qna_fin_20|perc_ded21|concepto21|importe21|qna_ini_21|qna_fin_21|perc_ded22|concepto22|importe22|qna_ini_22|qna_fin_22|perc_ded23|concepto23|importe23|qna_ini_23|qna_fin_23|perc_ded24|concepto24|importe24|qna_ini_24|qna_fin_24|perc_ded25|concepto25|importe25|qna_ini_25|qna_fin_25|perc_ded26|concepto26|importe26|qna_ini_26|qna_fin_26|perc_ded27|concepto27|importe27|qna_ini_27|qna_fin_27|perc_ded28|concepto28|importe28|qna_ini_28|qna_fin_28|perc_ded29|concepto29|importe29|qna_ini_29|qna_fin_29|perc_ded30|concepto30|importe30|qna_ini_30|qna_fin_30|perc_ded31|concepto31|importe31|qna_ini_31|qna_fin_31|perc_ded32|concepto32|importe32|qna_ini_32|qna_fin_32|perc_ded33|concepto33|importe33|qna_ini_33|qna_fin_33|perc_ded34|concepto34|importe34|qna_ini_34|qna_fin_34|perc_ded35|concepto35|importe35|qna_ini_35|qna_fin_35|perc_ded36|concepto36|importe36|qna_ini_36|qna_fin_36|perc_ded37|concepto37|importe37|qna_ini_37|qna_fin_37|perc_ded38|concepto38|importe38|qna_ini_38|qna_fin_38|perc_ded39|concepto39|importe39|qna_ini_39|qna_fin_39|perc_ded40|concepto40|importe40|qna_ini_40|qna_fin_40|",
    };
  },
  components: { Consultas },
  methods: {
    agregaRegistro() {
      var cabezal =  this.getCabezal()
      cabezal.nom_emp = `${this.Empleado.PrimerApellido} ${this.Empleado.SegundoApellido} ${this.Empleado.Nombre}`;
      cabezal.rfc = this.Empleado.Rfc;
      cabezal.curp = this.Empleado.Curp;
      cabezal.plaza= this.EmpleadoPlaza.Plaza.pfs;
      this.dtCabezal = [];
      this.dtCabezal.push(cabezal);
      // limpiar cptos tambien aqui
    },
    agregaCpto() {
      this.dialogAgregaCpto = false;

      var cptoSeleccionado = this.ConceptoSeleccionado.split("|");

      var newCpto = {
        perc_ded: cptoSeleccionado[0],
        concepto: cptoSeleccionado[1],
        qna_ini: 0,
        qna_fin: 0,
        importe: 0,
      };

      if (newCpto.perc_ded == "P") {
        if (
          this.dtPercepciones.some(
            (x) =>
              (x.perc_ded == newCpto.perc_ded) &
              (x.concepto == newCpto.concepto)
          ) == false
        )
          this.dtPercepciones.push(newCpto);
      } else if (newCpto.perc_ded == "D") {
        if (
          this.dtDeducciones.some(
            (x) =>
              (x.perc_ded == newCpto.perc_ded) &
              (x.concepto == newCpto.concepto)
          ) == false
        )
          this.dtDeducciones.push(newCpto);
      }

      this.ConceptoSeleccionado = null;
    },
    ActualizaCabezal() {
      if(this.dtCabezal == 0) return;
      var cabezal = this.dtCabezal[0];

      cabezal.num_perc = this.dtPercepciones.length;
      cabezal.num_desc = this.dtDeducciones.length;

      let percepciones = this.dtPercepciones.reduce((sum, reg) => {
        return parseFloat(sum) + parseFloat(reg.importe);
      }, 0);
      let deducciones = this.dtDeducciones.reduce((sum, reg) => {
        return parseFloat(sum) + parseFloat(reg.importe);
      }, 0);
      cabezal.tot_perc_cheque = percepciones;
      cabezal.tot_ded_cheque = deducciones;
      cabezal.tot_neto_cheque = percepciones - deducciones;
    },
    CrearFormatoCheque() {
      this.ActualizaCabezal();
      const cabezal = this.dtCabezal[0];
      // validaciones antes de crear el cheque
      if (cabezal.num_perc == 0 && cabezal.num_desc == 0) {
        this.$message({
          message: "Para crear el cheque debe tener conceptos.",
          type: "warning",
        });
      }

      // crea cheque

      let linea_cheque = `${cabezal.u_version}|${cabezal.num_cons}|${cabezal.tipo_nomina}|${cabezal.centro_computo}|${cabezal.unidad_dist_cheque}|${cabezal.cons_qna_proc}|${cabezal.rfc}|${cabezal.nom_emp}`;
      // extra CCT

      let cct = helpers.desglozaCT(cabezal.cct);
      linea_cheque += `|${cct.ent_fed}|${cct.ct_clasif}|${cct.ct_id}|${cct.ct_secuencial}|${cct.digito_ver}`;

      let plaza = helpers.desglozaPlaza(cabezal.plaza);
      linea_cheque += `|${plaza.cod_pago}|${plaza.unidad}|${plaza.subunidad}|${plaza.categoria}|${plaza.horas}|${plaza.cons_plaza}|${cabezal.niv_puesto}|${cabezal.nivel_sueldo}|${cabezal.grupo_nomina}|${cabezal.tipo_pago}|${cabezal.mot_mov}|${cabezal.tipo_calculo}|${cabezal.qna_ini}|${cabezal.qna_fin}|${cabezal.qna_pago}|${cabezal.qna_proc}|${cabezal.num_cheque}|${cabezal.cheque_dv}|${cabezal.tot_perc_cheque}|${cabezal.tot_ded_cheque}|${cabezal.tot_neto_cheque}|${cabezal.num_perc}|${cabezal.num_desc}`;

      this.dtPercepciones.forEach((p) => {
        console.log(p);
        linea_cheque += `|${p.perc_ded}|${p.concepto}|${p.importe}|${p.qna_ini}|${p.qna_fin}`;
      });
      this.dtDeducciones.forEach((p) => {
        linea_cheque += `|${p.perc_ded}|${p.concepto}|${p.importe}|${p.qna_ini}|${p.qna_fin}`;
      });

      this.cheque_siapsep = this.cheque_siapsep += "\n";
      this.cheque_siapsep += linea_cheque;
    },
    getCabezal(){
      return {
      u_version: "!",
      num_cons: 0,
      tipo_nomina: "C",
      centro_computo: 12,
      unidad_dist_cheque: 0,
      cons_qna_proc: 0,
      rfc: "",
      plaza: "",
      curp: "",
      nom_emp: "",
      cct: "",
      niv_puesto: "",
      nivel_sueldo: 0,
      grupo_nomina: 0,
      tipo_pago: 1,
      mot_mov: 0,
      tipo_calculo: 2,
      qna_ini: 0,
      qna_fin: 0,
      qna_pago: 0,
      qna_proc: 0,
      num_cheque: 0,
      cheque_dv: 0,
      tot_perc_cheque: 0.0,
      tot_ded_cheque: 0.0,
      tot_neto_cheque: 0.0,
      num_perc: 0,
      num_desc: 0,
      }
    },
    setUD(scct){

      const cct = this.CTs.find(element => element.cct == scct);
      var cabezal = this.dtCabezal[0];
      const result = Object.assign({}, cabezal, {unidad_dist_cheque: cct.UnidadDistChequeId});
      
      this.dtCabezal = [];
      this.dtCabezal.push(result)
    }, 
  },
  computed: {
    Empleado() {
      return this.$store.state.Empleado;
    },
    EmpleadoPlaza() {
      return this.$store.state.EmpleadoPlaza;
    },
    PlazaIdSeleccionado() {
      return this.$store.state.PlazaIdSeleccionado;
    },

    CTs() {
      let data = this.$store.state.HistoriaPlazaCT;
      let _data = data.filter(
        (elem, index) => data.findIndex((obj) => obj.cct === elem.cct) === index
      );
      return _data;
    },

  },
  created() {
    api.fetchBuscaConceptos().then((data) => {
      this.listaCptos = data.group;
    });
  },
};
</script>