<template>
  <div style="padding-bottom: 5em">
    <el-row>
      <h2 style="text-align: left; margin-bottom: 2em">Consultas SIAPSEP</h2>
    </el-row>
    <el-card>
      <el-row :gutter="20" class="">
        <el-col style="text-align: left" :span="8">
          <span style="display: block; margin-bottom: 1em"
            >Busqueda por RFC:
          </span>
          <el-select
            v-model="EmpleadoIdSeleccionado"
            style="width: 100%"
            filterable
            remote
            reserve-keyword
            placeholder="BUSQUEDA POR RFC"
            @change="seleccionaEmpleado()"
            :remote-method="buscaPorRFC"
            :loading="loadBuscaRfc"
          >
            <el-option
              v-for="item in listaRFCS"
              :key="item.Rfc"
              :label="`${
                item.Rfc
              } - ${item.PrimerApellido.trim()} ${item.SegundoApellido.trim()} ${item.Nombre.trim()}`"
              :value="item.Empleado.EmpleadoId"
            >
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="12" style="text-align: left">
          <span style="display: block; margin-bottom: 1em">
            Seleccione plaza:
          </span>
          <el-select
            v-model="PlazaIdSeleccionada"
            placeholder="Seleccione plaza"
            style="width: 20em"
            @change="seleccionaPlaza()"
          >
            <el-option-group
              v-for="group in listaPLAZAS"
              :key="group.label"
              :label="group.label"
            >
              <el-option
                v-for="item in group.plazas"
                :key="item.PlazaId"
                :label="item.Plaza.pfs"
                :value="item.PlazaId"
              >
              </el-option>
            </el-option-group>
          </el-select>
        </el-col>
      </el-row>
    </el-card>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card style="margin-top: 2em; text-align: left">
          <h3 style="">Información empleado</h3>
          <div v-if="Empleado != null">
            <el-row style="display: flex; flex-flow: row wrap">
              <div style="margin: 5px 5px 5px 5px">
                <b>NOMBRE</b>
                <span style="padding-left: 0.5em; width: 100%"
                  >{{ Empleado.Nombre }} {{ Empleado.PrimerApellido }}
                  {{ Empleado.SegundoApellido }}</span
                >
              </div>
              <div style="margin: 5px 5px 5px 5px">
                <b>RFC</b>
                <span style="padding-left: 0.5em; width: 100%">{{
                  Empleado.Rfc
                }}</span>
              </div>
              <div style="margin: 5px 5px 5px 5px">
                <b>CURP</b>
                <span style="padding-left: 0.5em; width: 100%">{{
                  Empleado.Curp
                }}</span>
              </div>
              <div style="margin: 5px 5px 5px 5px">
                <b>QNA ING SEP</b>
                <span style="padding-left: 0.5em; width: 100%">{{
                  Empleado.Empleado.QnaIngSep
                }}</span>
              </div>
            </el-row>
            <el-row style="margin-top: 2em">
              <el-collapse>
                <el-collapse-item title="Beneficiarios de pensión">
                  <DataTable
                    class="p-datatable-gridlines p-datatable-sm letra"
                    :value="dtBeneficiariosPension"
                    :scrollable="true"
                    scrollHeight="flex"
                    style="width: 100%"
                  >
                    <Column
                      field="NumBeneficiario"
                      header="Num Benef"
                      headerStyle="width: 100px"
                    ></Column>
                    <Column
                      field="Rfc"
                      header="Rfc Benef"
                      headerStyle="width: 150px"
                    ></Column>
                    <Column
                      field="NombreCompleto"
                      header="Nombre"
                      headerStyle="width: 250px"
                    ></Column>
                    <Column
                      field="FormaAplicacion"
                      header="Aplicación"
                      headerStyle="width: 150px"
                    ></Column>
                    <Column
                      field="Importe"
                      header="Importe"
                      headerStyle="width: 100px"
                    ></Column>
                    <Column
                      field="QnaIni"
                      header="QnaIni"
                      headerStyle="width: 100px"
                    ></Column>
                    <Column
                      field="QnaFin"
                      header="QnaFin"
                      headerStyle="width: 100px"
                    ></Column>
                  </DataTable>
                </el-collapse-item>
              </el-collapse>
            </el-row>
          </div>
          <el-alert
            v-else
            style="margin-top: 2em; text-align: left"
            title="Seleccione empleado"
            type="info"
          >
          </el-alert>
        </el-card>
      </el-col>
      <el-col :span="24">
        <el-card style="margin-top: 2em; text-align: left">
          <h3 style="">Información Plaza</h3>
          <el-collapse v-if="PlazaIdSeleccionada != null">
            <el-collapse-item title="Analitico de Plazas">
              <DataTable
                v-if="dtMap.length != 0"
                class="p-datatable-gridlines p-datatable-sm letra"
                :value="dtMap"
                :scrollable="true"
                scrollHeight="flex"
                style="width: 100%"
              >
                <Column
                  field="ESTATUS"
                  header="ESTATUS"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="MODELO"
                  header="MODELO"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="NIVEL"
                  header="NIVEL"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="CCT"
                  header="CCT"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="ZONA_ECONOMICA"
                  header="ZONA_ECO"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="FECHA"
                  header="FECHA"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="EFECTO_DESDE"
                  header="EFECTO_DESDE"
                  headerStyle="width: 150px"
                ></Column>
              </DataTable>
              <el-alert
                v-else
                :closable="false"
                title="PLAZA NO FONE"
                type="info"
              >
              </el-alert>
            </el-collapse-item>

            <el-collapse-item title="Historia Plaza CT">
              <DataTable
                class="p-datatable-gridlines p-datatable-sm letra"
                :value="dtHistoriaPlazaCt"
                :scrollable="true"
                scrollHeight="flex"
                style="width: 100%"
              >
                <Column
                  field="cct"
                  header="CCT"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="QnaIni"
                  header="QNA_INI"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="QnaFin"
                  header="QNA_FIN"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="ZonaEconomicaId"
                  header="ZonaEconomica"
                  headerStyle="width: 150px"
                ></Column>
              </DataTable>
            </el-collapse-item>
            <el-collapse-item title="Historia Plaza Estatus">
              <DataTable
                class="p-datatable-gridlines p-datatable-sm letra"
                :value="dtPlazaEstatus"
                :scrollable="true"
                scrollHeight="flex"
                style="width: 100%"
              >
                <Column
                  field="PlazaEstatusId"
                  header="ESTATUS"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="MotMovimientoId"
                  header="MOT_MOV"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="QnaIni"
                  header="QNA_INI"
                  headerStyle="width: 150px"
                ></Column>
                <Column
                  field="QnaFin"
                  header="QNA_FIN"
                  headerStyle="width: 150px"
                ></Column>
              </DataTable>
            </el-collapse-item>
          </el-collapse>
          <el-alert
            v-else
            style="margin-top: 2em; text-align: left"
            title="Seleccione plaza"
            type="info"
          >
          </el-alert>
        </el-card>
      </el-col>
    </el-row>

    <el-card style="margin-top: 2em; text-align: left">
      <h4 style="">Información empleado-plaza</h4>
      <div v-if="PlazaIdSeleccionada != null">
        <DataTable
          class="p-datatable-gridlines p-datatable-sm letra"
          :value="dtEmpleadoPlaza"
          :scrollable="true"
          scrollHeight="flex"
          style="width: 100%"
          :paginator="true"
          :rows="5"
        >
          <Column
            field="PlazaEstatusId"
            header="ESTATUS"
            headerStyle="width: 150px"
          ></Column>
          <Column
            field="MotMovimientoId"
            header="MOTIVO"
            headerStyle="width: 150px"
          ></Column>
          <Column
            field="QnaIni"
            header="QNA_INI"
            headerStyle="width: 150px"
          ></Column>
          <Column
            field="QnaFin"
            header="QNA_FIN"
            headerStyle="width: 150px"
          ></Column>
          <Column
            field="BanPago"
            header="BAN_PAGO"
            headerStyle="width: 150px"
          ></Column>
          <Column
            field="NivelSueldo"
            header="NIVEL_SUELDO"
            headerStyle="width: 150px"
          ></Column>
        </DataTable>
      </div>
      <el-alert
        v-else
        style="margin-top: 2em; text-align: left"
        title="Seleccione plaza"
        type="info"
      >
      </el-alert>
    </el-card>
    <el-card style="margin-top: 2em; text-align: left">
      <h4 style="">Pagos emitidos</h4>
      <div v-if="PlazaIdSeleccionada != null">
        <el-row>
          <el-col :span="10">
             <el-button
              type="success"
              icon="el-icon-search"
              @click="buscarPagos()"
              >Buscar pagos</el-button>
          </el-col>
        </el-row>
        <el-row>
          <DataTable
            style="margin-top: 2em"
            class="p-datatable-gridlines p-datatable-sm letra"
            :value="dtPagosEmitidos"
            :expandedRows.sync="expandedRows"
            dataKey="key"
            :scrollable="true"
            scrollHeight="flex"
            :filters="filters"
            :paginator="true" :rows="10"
          >
            <template #empty> No se encontraron resultados. </template>
            <Column :expander="true" headerStyle="width: 3rem"></Column>
            <Column
              field="RFC"
              header="RFC"
              headerStyle="width: 250px"
              filterField="RFC"
              filterMatchMode="contains"
            >
              <template #filter>
                <InputText
                  type="text"
                  v-model="filters['RFC']"
                  class="p-column-filter"
                  placeholder="Buscar por RFC"
                />
              </template>
            </Column>
            <Column
              field="CLAVE_PLAZA"
              header="PLAZA"
              headerStyle="width: 200px"
            ></Column>
            <Column
              field="PERIODO_"
              header="PERIODO"
              headerStyle="width: 90px"
            ></Column>
            <Column
              field="TIPO_NOMINA"
              header="TIPO_NOMINA"
              headerStyle="width: 100px"
            ></Column>
            <Column
              field="NO_NOMINA"
              header="NO_NOMINA"
              headerStyle="width: 90px"
            ></Column>
            <Column
              field="IMPORTE_PERCEPCIONES_SIN_PIR"
              header="PERCEPCIONES"
              headerStyle="width: 120px"
            ></Column>
            <Column
              field="IMPORTE_DEDUCCIONES_SIN_PIR"
              header="DEDUCCIONES"
              headerStyle="width: 120px"
            ></Column>
            <Column
              field="IMPORTE_NETO"
              header="NETO"
              headerStyle="width: 120px"
            ></Column>
            <Column
              field="_FECHA_INICIO"
              header="FECHA_INICIO"
              headerStyle="width: 150px"
            ></Column>
            <Column
              field="_FECHA_TERMINO"
              header="FECHA_TERMINO"
              headerStyle="width: 150px"
            ></Column>
            <template #expansion="slotProps">
              <el-row :gutter="60" style="margin-top: 2em">
                <el-col :span="12">
                  <DataTable
                    class="p-datatable-sm letra"
                    :value="
                      slotProps.data.detalle.filter(
                        (x) => x.TIPO_CONCEPTO == 'P'
                      )
                    "
                  >
                    <template #header>
                      <div class="table-header">Percepciones</div>
                    </template>
                    <Column field="TIPO_CONCEPTO" header="PD"></Column>
                    <Column field="CVE_CONCEPTO" header="CPTO"></Column>
                    <Column field="IMPORTE" header="IMPORTE"></Column>
                  </DataTable>
                </el-col>
                <el-col :span="12">
                  <DataTable
                    class="p-datatable-sm letra"
                    :value="
                      slotProps.data.detalle.filter(
                        (x) => x.TIPO_CONCEPTO == 'D'
                      )
                    "
                  >
                    <template #header>
                      <div class="table-header">Deducciones</div>
                    </template>
                    <Column field="TIPO_CONCEPTO" header="PD"></Column>
                    <Column field="CVE_CONCEPTO" header="CPTO"></Column>
                    <Column field="IMPORTE" header="IMPORTE"></Column>
                  </DataTable>
                </el-col>
              </el-row>
            </template>
          </DataTable>
        </el-row>
      </div>
      <el-alert
        v-else
        style="margin-top: 2em; text-align: left"
        title="Seleccione plaza"
        type="info"
      >
      </el-alert>
    </el-card>
  </div>
</template>
<script>
import api from "../api";
export default {
  data() {
    return {
      filters: {},
      expandedRows: [],
      EmpleadoIdSeleccionado: null,
      PlazaIdSeleccionada: null,
      listaRFCS: [],
      listaPLAZAS: [],
      listaEmpleadoPlaza: [],
      loadBuscaRfc: false,
      dtBeneficiariosPension: [],
      dtMap: [],
      dtEmpleadoPlaza: [],
      dtHistoriaPlazaCt: [],
      dtPlazaEstatus: [],
      periodosPago: [],
      periodoSeleccionado: null,
      fechaPagoSeleccionada: null,
      dtPagosEmitidos: [],
    };
  },
  methods: {
    buscaPorRFC(query) {
      this.listaRFCS = [];
      this.listaPLAZAS = [];
      this.PlazaIdSeleccionada = null;

      if (query !== "") {
        this.loadBuscaRfc = true;

        api.fetchBuscaPorFC(query.toUpperCase()).then((data) => {
          this.listaRFCS = data;
          this.loadBuscaRfc = false;
        });
      }
    },
    seleccionaEmpleado() {
      this.PlazaIdSeleccionada = null;
      this.dtMap = [];
      this.dtEmpleadoPlaza = [];
      this.periodosPago = [];
      this.periodoSeleccionado = null;
      this.dtPagosEmitidos = [];
      this.fechaPagoSeleccionada = null;
      this.$store.dispatch(
        "SET_EMPLEADO_ID_SELECCIONADO",
        this.EmpleadoIdSeleccionado
      );
      this.$store.dispatch(
        "SET_EMPLEADO",
        this.listaRFCS.filter(
          (x) => x.Empleado.EmpleadoId === this.EmpleadoIdSeleccionado
        )
      );

      api.fetchBuscaPlazas(this.EmpleadoIdSeleccionado).then((data) => {
        //console.log(_data);

        this.listaEmpleadoPlaza = data.plazas;
        this.listaPLAZAS = data.group;
      });

      api
        .fetchBuscaBeneficiariosPension(this.EmpleadoIdSeleccionado)
        .then((data) => {
          //console.log(data);
          this.dtBeneficiariosPension = data.map((x) => {
            x.NombreCompleto = `${x.Nombre} ${x.PrimerApellido} ${x.SegundoApellido}`;
            x.FormaAplicacion =
              x.FormaAplicacionId == 1 ? "CUOTA FIJA" : "PORCENTANJE";
            return x;
          });
        });
    },
    seleccionaPlaza() {
      this.$store.dispatch(
        "SET_PLAZA_ID_SELECCIONADO",
        this.PlazaIdSeleccionada
      );
      this.$store.dispatch(
        "SET_EMPLEADO_PLAZA",
        this.listaEmpleadoPlaza.find(
          (x) => x.PlazaId == this.PlazaIdSeleccionada
        )
      );

      // consulta datos de la plaza y emp_plaza
      //console.log(this.EmpleadoPlaza.Plaza.pfs)
      //

      api
        .fetchBuscaEmpleadoPlaza(
          this.EmpleadoIdSeleccionado,
          this.PlazaIdSeleccionada
        )
        .then((data) => {
          this.dtEmpleadoPlaza = data;
        });

      api.fetchPlazaMap(this.EmpleadoPlaza.Plaza.pfs).then((data) => {
        this.dtMap = data;
      });

      api.fetchBuscaHPCT(this.PlazaIdSeleccionada).then((data) => {
        this.dtHistoriaPlazaCt = data;
        this.$store.dispatch("SET_HPCT", data);
      });
      api.fetchBuscaPlazaEstatus(this.PlazaIdSeleccionada).then((data) => {
        this.dtPlazaEstatus = data;
      });
    },
    buscarPagos() {
      api
        .fetchBuscarPagos(
          this.EmpleadoPlaza.Plaza.pfs,
        )
        .then((data) => {
          this.dtPagosEmitidos = data.map((data, key) => {
            data.key = key;
            data.data = data;
            data.data.children = data.detalle;
            return data;
          });
        });
    },
    buscaPagoPorFecha() {
      api
        .fetchBuscaPagoPorFecha(
          this.EmpleadoPlaza.Plaza.pfs,
          this.fechaPagoSeleccionada
        )
        .then((data) => {
          this.dtPagosEmitidos = data.map((data, key) => {
            data.key = key;
            data.data = data;
            data.data.children = data.detalle;
        
            return data;
          });
        });
    },
  },
  computed: {
    Empleado() {
      return this.$store.state.Empleado;
    },
    EmpleadoPlaza() {
      return this.$store.state.EmpleadoPlaza;
    },
  },
};
</script>

<style scoped>
.letra {
  font-size: 14px;
}
</style>