<template>
  <div id="app" style="height: 100% !important;margin-top:0px;">
     <el-container class="full-height">
      <el-header  class="top-bar">
        <eva-icon @click="toggleMenu()"  :name="menu.isCollapse? 'menu': 'close'" fill="#4AC18E"  animation="pulse" style=""></eva-icon>
              <span style="margin-left: 30px;color:white;">
                <img src="./assets/Seg.png" class="logo">
              </span>
          </el-header>
      <el-container class="full-height">
        <el-aside v-bind:style="{ width: menu.width }" style="overflow: hidden; transition: .5s ease;" >
          <el-menu @select="handleOpen" :collapse-transition="false" :collapse="menu.isCollapse" default-active="/consultas" active-text-color="#4AC18E" style="padding-top:20px;height: 100%;overflow: hidden;;">
          <el-submenu index="1">
            <template slot="title" style="text-align: left;">
            <eva-icon name="archive-outline" fill="#4AC18E" height="20" animation="pulse"></eva-icon>
            <span slot="title" >Consultas</span>
            </template>
            <el-menu-item-group>
            <el-menu-item index="/consultas">Siapsep</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <el-submenu index="2">
            <template slot="title">
            <eva-icon name="inbox-outline" fill="#4AC18E" height="20" animation="pulse"></eva-icon>
            <span slot="title">Saycop</span>
            </template>
            <el-menu-item-group>
            <el-menu-item index="/captura_saycop">Captura</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          </el-menu>
        </el-aside>
        <el-main style="background-color: #f0f2f5">
          <router-view></router-view>
        </el-main>
      </el-container>
      </el-container>
  </div>
</template>

<script>
export default {
	name: 'Menu',
	data(){
		return {
			menu: {
                isCollapse: true,
                width: '65px',
                path: '/rechazos/consulta'
            }
		}
	},
	methods:{
		toggleMenu(){
            this.menu.isCollapse = !this.menu.isCollapse;
            var width = this.menu.isCollapse ? '65px' : '200px';
            this.menu.width = width;
		},
		handleOpen(key) {
            this.$router.push(key);
    }
	}
}
</script>

<style>
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.top-bar{
		display: flex;
		justify-content: start	;
		align-items: center;
		background-color: white;
	}
	.logo{
		height: 50px;
	}

	.full-height{
		height: 100%;
	}
	.primary-color{
		color: #4AC18E
	}
  .el-submenu__title{
    text-align: justify;
    margin-left: 3px !important;
  }

  html, body{
      font-family: "Montserrat","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
      background-color: #F0F1F6;
      margin: 0px;
      height: 100%;
      margin: 0px;
  }
</style>
